.toggle {
  width: 100px;
  height: 50px;
  border-radius: 100rem;
  cursor: pointer;
  background: #ccc;
  padding: 5px;
  margin: 25px;
  transition: all 0.2s linear;
}
.toggle.active{
  background: pink;
}
.spinner {
  width: 40px;
  aspect-ratio: 1;
  background: white;
  border-radius: 100rem;
  transition: all 0.2s linear;
}
.spinner.active {
  transform: translateX(40px);
}
.toggle-control {
  display: flex;
  margin-left: 25px;
  gap: 30px;
}
.toggle-control * {
  cursor: pointer;
}